@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ati venit!</h1>
    <p>Aici puteti gasi informatii despre ojele de unghii si magazinele unde acestea se regasesc.</a>.</p>
</div>
